{% extends "base.html" %}
{% load static %}

{% block title %}Pallavi Papa Sarees Collections | Pattu, Silk & Designer Sarees{% endblock %}

{% block meta %}
  <meta name="description" content="Shop elegant pattu sarees, silk sarees, cotton sarees and designer saree collections from Pallavi Papa Sarees Collections. Browse new arrivals and contact us on WhatsApp for orders.">
  <meta name="robots" content="index, follow">

  <meta property="og:title" content="Pallavi Papa Sarees Collections | Pattu, Silk & Designer Sarees">
  <meta property="og:description" content="Explore pattu, silk, cotton and designer saree collections from Pallavi Papa Sarees Collections.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://pallavipapacollections.online/">

  <link rel="canonical" href="https://pallavipapacollections.online/">
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'store/css/collections/product_card.css' %}">
{% endblock %}

{% block content %}

  {# Collection page URL once define chesi partials ki pass chestunnam #}
  {% url 'store:collections' as collection_page_url %}

  {% include "store/user_homepage/partials/top_slider.html" %}

  {# Shop by Collection section #}
  {% include "store/user_homepage/partials/collection_discovery.html" with collection_page_url=collection_page_url collection_focus="shop" %}
  {% include "store/user_homepage/partials/popular_items.html" %}

  {% include "store/user_homepage/partials/shop_by_price.html" %}
  {# New Arrivals section #}
  {% include "store/user_homepage/partials/new_arrivals_preview.html" with collection_page_url=collection_page_url collection_focus="new" %}

{% comment %}
  Trending Collection section removed for now
  {% include "store/user_homepage/partials/trending_collections.html" with collection_page_url=collection_page_url collection_focus="trending" %}
{% endcomment %}


  {% include "store/user_homepage/partials/top_sale_products.html" %}
  {% include "store/user_homepage/partials/homepage_promo_banner.html" %}
  {% include "store/user_homepage/partials/special_offers.html" %}
  {% include "store/user_homepage/partials/how_to_order.html" %}
  {% include "store/user_homepage/partials/why_choose_pallavi.html" %}
  {% include "store/user_homepage/partials/featured_collection_slider.html" %}
  {% include "store/user_homepage/partials/customer_testimonials.html" %}
  {% include "store/user_homepage/partials/trust_info_bar.html" %}
  {% include "store/user_homepage/partials/site_footer.html" %}

{% endblock %}
